{% extends 'accounts/base.html' %}

{% block title_block %}{{PROJECT_NAME}} - account{% endblock %}
{% block h1_block %}My Account{% endblock %}

{% block body_block %}
<table>
	<tr><td>Username:</td><td>{{user.username}}</td></tr>
	<tr><td>Name:</td><td>{{user.get_full_name}}</td></tr>
	<tr><td>Email:</td><td>{{user.email}}</td></tr>
    <tr><td>Year:</td><td>{{user.profile.year}}</td></tr>

</table>
{#<p><a href="{% url 'accounts:edit_profile' %}">Edit profile</a></p>#}
{#<p><a href="{% url 'accounts:user_list' %}">List of all users</a></p>#}
{#<p><a href="{% url 'accounts:change_password' %}">Change password</a></p>#}
{% endblock %}
